# Model Submission

### Load libraries.

In [46]:
import csv
import pickle
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
from sklearn.metrics import r2_score

from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

### Load cleaned-test data "kaggle data," models and scaling applied, here.

In [47]:
with open('../data/lasso.pkl', 'rb') as f:
    lm = pickle.load(f)

In [48]:
with open('../data/columns.pkl', 'rb') as f:
    columns = pickle.load(f)

In [49]:
with open('../data/scaler.pkl', 'rb') as f:
    sc = pickle.load(f)

In [50]:
kaggle = pd.read_csv('../data/test_dum.csv', index_col="Id")
# y_test = pd.read_csv('../data/y_test.csv', header=None)

In [51]:
kaggle.head()      # Review the headers and data.

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemod/Add,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,MoSold_12,SaleType_COD,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD
Id,,,,,,,,,,,,,,,,,,,,,
2658,69.000000,9142,6,8,1910,1950,0,0.0,0.0,1020.0,...,0,0,0,0,0,0,0,0,0,1
2718,69.630042,9662,5,4,1977,1977,0,0.0,0.0,1967.0,...,0,0,0,0,0,0,0,0,0,1
2414,58.000000,17104,7,5,2006,2006,0,554.0,0.0,100.0,...,0,0,0,0,0,0,0,1,0,0
1989,60.000000,8520,5,6,1923,2006,0,0.0,0.0,968.0,...,0,0,0,0,0,0,0,0,0,1
625,69.630042,9500,6,5,1963,1963,247,609.0,0.0,785.0,...,0,0,0,0,0,0,0,0,0,1

In [52]:
kag_index = kaggle.index

In [53]:
kaggle = sc.transform(kaggle)

In [54]:
predictors = lm.predict(kaggle)
predictors.shape                       # Verify that the 879 columns required are present.

(879,)

#### Submission preparation.

In [55]:
submission = pd.DataFrame(predictors, index=kag_index, columns=['SalePrice'])

In [56]:
submission.sort_index(inplace=True)

In [57]:
submission.head()

        SalePrice
Id
2   125921.980445
4   287066.090026
6   193747.133568
7   219569.908082
17  202014.109339

In [58]:
submission.to_csv('../data/submission_lcv.csv')

### Three separate model were submitted, and Kaggle's public scoring ranked the Lasso-based model as the best.  If the Ridge-based model is also considered for the private competition with even more data, it might push our ranking higher than the Lasso-based model.

# Thank you.